In [198]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import statsmodels.api as sm
sns.set()

from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression
from sklearn.preprocessing import StandardScaler

In [117]:
movies = pd.read_csv('Movies.csv')
movies

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020,"October 23, 2020 (United States)",3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020 (United States)",4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020,"April 27, 2020 (Cameroon)",5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
7666,It's Just Us,NaN,Drama,2020,"October 1, 2020 (United States)",NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

In [ ]:
##Getting some basic understanding of the data

In [118]:
movies.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [119]:
movies.tail()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
7663,More to Life,NaN,Drama,2020,"October 23, 2020 (United States)",3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020 (United States)",4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020,"April 27, 2020 (Cameroon)",5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
7666,It's Just Us,NaN,Drama,2020,"October 1, 2020 (United States)",NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

In [120]:
movies.sort_values(['gross'], ascending = False)

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
5445,Avatar,PG-13,Action,2009,"December 18, 2009 (United States)",7.8,1100000.0,James Cameron,James Cameron,Sam Worthington,United States,237000000.0,2.847246e+09,Twentieth Century Fox,162.0
7445,Avengers: Endgame,PG-13,Action,2019,"April 26, 2019 (United States)",8.4,903000.0,Anthony Russo,Christopher Markus,Robert Downey Jr.,United States,356000000.0,2.797501e+09,Marvel Studios,181.0
3045,Titanic,PG-13,Drama,1997,"December 19, 1997 (United States)",7.8,1100000.0,James Cameron,James Cameron,Leonardo DiCaprio,United States,200000000.0,2.201647e+09,Twentieth Century Fox,194.0
6663,Star Wars: Episode VII - The Force Awakens,PG-13,Action,2015,"December 18, 2015 (United States)",7.8,876000.0,J.J. Abrams,Lawrence Kasdan,Daisy Ridley,United States,245000000.0,2.069522e+09,Lucasfilm,138.0
7244,Avengers: Infinity War,PG-13,Action,2018,"April 27, 2018 (United States)",8.4,897000.0,Anthony Russo,Christopher Markus,Robert Downey Jr.,United States,321000000.0,2.048360e+09,Marvel Studios,149.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020,"October 23, 2020 (United States)",3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020 (United States)",4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020,"April 27, 2020 (Cameroon)",5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
7666,It's Just Us,NaN,Drama,2020,"October 1, 2020 (United States)",NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

In [121]:
#checking the data for some basic statistics
movies.describe(include = 'all')

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
count,7668,7591,7668,7668.000000,7666,7665.000000,7.665000e+03,7668,7665,7667,7665,5.497000e+03,7.479000e+03,7651,7664.000000
unique,7512,12,19,NaN,3414,NaN,NaN,2949,4535,2814,59,NaN,NaN,2385,NaN
top,Nobody's Fool,R,Comedy,NaN,"February 14, 1986 (United States)",NaN,NaN,Woody Allen,Woody Allen,Nicolas Cage,United States,NaN,NaN,Universal Pictures,NaN
freq,3,3697,2245,NaN,9,NaN,NaN,38,37,43,5475,NaN,NaN,377,NaN
mean,NaN,NaN,NaN,2000.405451,NaN,6.390411,8.810850e+04,NaN,NaN,NaN,NaN,3.558988e+07,7.850054e+07,NaN,107.261613
std,NaN,NaN,NaN,11.153508,NaN,0.968842,1.633238e+05,NaN,NaN,NaN,NaN,4.145730e+07,1.657251e+08,NaN,18.581247
min,NaN,NaN,NaN,1980.000000,NaN,1.900000,7.000000e+00,NaN,NaN,NaN,NaN,3.000000e+03,3.090000e+02,NaN,55.000000
25%,NaN,NaN,NaN,1991.000000,NaN,5.800000,9.100000e+03,NaN,NaN,NaN,NaN,1.000000e+07,4.532056e+06,NaN,95.000000
50%,NaN,NaN,NaN,2000.000000,NaN,6.500000,3.300000e+04,NaN,NaN,NaN,NaN,2.050000e+07,2.020576e+07,NaN,104.000000
75%,NaN,NaN,NaN,2010.000000,NaN,7.100000,9.300000e+04,NaN,NaN,NaN,NaN,4.500000e+07,7.601669e+07,NaN,116.000000
max,NaN,NaN,NaN,2020.000000,NaN,9.300000,2.400000e+06,NaN,NaN,NaN,NaN,3.560000e+08,2.847246e+09,NaN,366.000000

In [122]:
##Data cleaning, checking for missing values
movies.isnull().sum()

name           0
rating        77
genre          0
year           0
released       2
score          3
votes          3
director       0
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        4
dtype: int64

In [123]:
##Data cleaning 
##Drop missing values

Movies_drop = movies.dropna(axis = 0)

In [128]:
##check if all columns have equal data
Movies_drop.describe(include='all')

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
count,5421,5421,5421,5421.000000,5421,5421.000000,5.421000e+03,5421,5421,5421,5421,5.421000e+03,5.421000e+03,5421,5421.000000
unique,5336,10,15,NaN,2560,NaN,NaN,2063,3205,1845,50,NaN,NaN,1475,NaN
top,Hercules,R,Comedy,NaN,"August 26, 2016 (United States)",NaN,NaN,Woody Allen,Woody Allen,Nicolas Cage,United States,NaN,NaN,Universal Pictures,NaN
freq,3,2597,1496,NaN,7,NaN,NaN,33,32,40,4319,NaN,NaN,330,NaN
mean,NaN,NaN,NaN,2001.661317,NaN,6.392455,1.150661e+05,NaN,NaN,NaN,NaN,3.600917e+07,1.032297e+08,NaN,108.152739
std,NaN,NaN,NaN,10.540908,NaN,0.962730,1.844073e+05,NaN,NaN,NaN,NaN,4.157337e+07,1.873027e+08,NaN,18.115698
min,NaN,NaN,NaN,1980.000000,NaN,1.900000,1.950000e+02,NaN,NaN,NaN,NaN,6.000000e+03,3.090000e+02,NaN,63.000000
25%,NaN,NaN,NaN,1993.000000,NaN,5.800000,1.900000e+04,NaN,NaN,NaN,NaN,1.000000e+07,1.073640e+07,NaN,95.000000
50%,NaN,NaN,NaN,2002.000000,NaN,6.500000,5.200000e+04,NaN,NaN,NaN,NaN,2.180000e+07,3.686941e+07,NaN,105.000000
75%,NaN,NaN,NaN,2011.000000,NaN,7.100000,1.290000e+05,NaN,NaN,NaN,NaN,4.500000e+07,1.124625e+08,NaN,118.000000
max,NaN,NaN,NaN,2020.000000,NaN,9.300000,2.400000e+06,NaN,NaN,NaN,NaN,3.560000e+08,2.847246e+09,NaN,271.000000

In [ ]:
##checking the data type of all columns
Movies_drop.dtypes

In [125]:
##drop columns 
Movie_drop = Movies_drop.drop(['released','name','star','writer','country','director'], axis = 1)
Movie_drop

,rating,genre,year,score,votes,budget,gross,company,runtime
0,R,Drama,1980,8.4,927000.0,19000000.0,46998772.0,Warner Bros.,146.0
1,R,Adventure,1980,5.8,65000.0,4500000.0,58853106.0,Columbia Pictures,104.0
2,PG,Action,1980,8.7,1200000.0,18000000.0,538375067.0,Lucasfilm,124.0
3,PG,Comedy,1980,7.7,221000.0,3500000.0,83453539.0,Paramount Pictures,88.0
4,R,Comedy,1980,7.3,108000.0,6000000.0,39846344.0,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...
7648,R,Action,2020,6.6,140000.0,90000000.0,426505244.0,Columbia Pictures,124.0
7649,PG,Action,2020,6.5,102000.0,85000000.0,319715683.0,Paramount Pictures,99.0
7650,PG,Adventure,2020,5.6,53000.0,175000000.0,245487753.0,Universal Pictures,101.0
7651,PG,Adventure,2020,6.8,42000.0,135000000.0,111105497.0,20th Century Studios,100.0
7652,Not Rated,Action,2020,6.8,3700.0,80000000.0,461421559.0,Beijing Diqi Yinxiang Entertainment,149.0

In [32]:
##First conclusions 
#1. Budget has a high positive correlation with gross
#2. High grossing movies generate more buzz, hence more votes
#3. More votes does not translate to a better score

In [129]:
##next step will be to measure to the degree each variable affects our dependent variable by running a regression
##drop some variables using Vif

In [158]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
variables = Movie_drop[['votes','budget','runtime','score']]
vif = pd.DataFrame()
vif["VIF"] = [variance_inflation_factor(variables.values, i) for i in range(variables.shape[1])]
vif["features"] = variables.columns
vif

         VIF features
0   1.860950    votes
1   2.376720   budget
2  39.390448  runtime
3  37.551495    score

In [159]:
movie_clean = Movie_drop.drop(['runtime','log_gross'],axis=1)
movie_clean

,rating,genre,year,score,votes,budget,gross,company
0,R,Drama,1980,8.4,927000.0,19000000.0,46998772.0,Warner Bros.
1,R,Adventure,1980,5.8,65000.0,4500000.0,58853106.0,Columbia Pictures
2,PG,Action,1980,8.7,1200000.0,18000000.0,538375067.0,Lucasfilm
3,PG,Comedy,1980,7.7,221000.0,3500000.0,83453539.0,Paramount Pictures
4,R,Comedy,1980,7.3,108000.0,6000000.0,39846344.0,Orion Pictures
...,...,...,...,...,...,...,...,...
7648,R,Action,2020,6.6,140000.0,90000000.0,426505244.0,Columbia Pictures
7649,PG,Action,2020,6.5,102000.0,85000000.0,319715683.0,Paramount Pictures
7650,PG,Adventure,2020,5.6,53000.0,175000000.0,245487753.0,Universal Pictures
7651,PG,Adventure,2020,6.8,42000.0,135000000.0,111105497.0,20th Century Studios
7652,Not Rated,Action,2020,6.8,3700.0,80000000.0,461421559.0,Beijing Diqi Yinxiang Entertainment

In [191]:
movies_dum = pd.get_dummies(movie_clean,columns=['genre'],drop_first = True)
movies_dum

,rating,year,score,votes,budget,gross,company,genre_Adventure,genre_Animation,genre_Biography,...,genre_Crime,genre_Drama,genre_Family,genre_Fantasy,genre_Horror,genre_Mystery,genre_Romance,genre_Sci-Fi,genre_Thriller,genre_Western
0,R,1980,8.4,927000.0,19000000.0,46998772.0,Warner Bros.,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,R,1980,5.8,65000.0,4500000.0,58853106.0,Columbia Pictures,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,PG,1980,8.7,1200000.0,18000000.0,538375067.0,Lucasfilm,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,PG,1980,7.7,221000.0,3500000.0,83453539.0,Paramount Pictures,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,R,1980,7.3,108000.0,6000000.0,39846344.0,Orion Pictures,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7648,R,2020,6.6,140000.0,90000000.0,426505244.0,Columbia Pictures,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7649,PG,2020,6.5,102000.0,85000000.0,319715683.0,Paramount Pictures,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7650,PG,2020,5.6,53000.0,175000000.0,245487753.0,Universal Pictures,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7651,PG,2020,6.8,42000.0,135000000.0,111105497.0,20th Century Studios,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7652,Not Rated,2020,6.8,3700.0,80000000.0,461421559.0,Beijing Diqi Yinxiang Entertainment,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
## for the regression analysis, I would like to assess the numerical impacts of 3 movie genres,(Drama,Fantasy,adventure,)

In [203]:
movies_clean1= movies_dum.drop(['genre_Biography','genre_Western','company','genre_Family','genre_Horror'], axis =1)
movies_clean1

,rating,year,score,votes,budget,gross,genre_Adventure,genre_Animation,genre_Comedy,genre_Crime,genre_Drama,genre_Fantasy,genre_Mystery,genre_Romance,genre_Sci-Fi,genre_Thriller
0,R,1980,8.4,927000.0,19000000.0,46998772.0,0,0,0,0,1,0,0,0,0,0
1,R,1980,5.8,65000.0,4500000.0,58853106.0,1,0,0,0,0,0,0,0,0,0
2,PG,1980,8.7,1200000.0,18000000.0,538375067.0,0,0,0,0,0,0,0,0,0,0
3,PG,1980,7.7,221000.0,3500000.0,83453539.0,0,0,1,0,0,0,0,0,0,0
4,R,1980,7.3,108000.0,6000000.0,39846344.0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7648,R,2020,6.6,140000.0,90000000.0,426505244.0,0,0,0,0,0,0,0,0,0,0
7649,PG,2020,6.5,102000.0,85000000.0,319715683.0,0,0,0,0,0,0,0,0,0,0
7650,PG,2020,5.6,53000.0,175000000.0,245487753.0,1,0,0,0,0,0,0,0,0,0
7651,PG,2020,6.8,42000.0,135000000.0,111105497.0,1,0,0,0,0,0,0,0,0,0
7652,Not Rated,2020,6.8,3700.0,80000000.0,461421559.0,0,0,0,0,0,0,0,0,0,0

In [212]:
movies_clean1.dtypes

rating              object
year                 int64
score              float64
votes              float64
budget             float64
gross              float64
genre_Adventure      uint8
genre_Animation      uint8
genre_Comedy         uint8
genre_Crime          uint8
genre_Drama          uint8
genre_Fantasy        uint8
genre_Mystery        uint8
genre_Romance        uint8
genre_Sci-Fi         uint8
genre_Thriller       uint8
dtype: object

In [247]:
y= movies_clean1['gross']
X= movies_clean1.drop(['gross','rating'],axis =1)
x = sm.add_constant(X)
reg = sm.OLS(y,x).fit()
reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  gross   R-squared:                       0.676
Model:                            OLS   Adj. R-squared:                  0.675
Method:                 Least Squares   F-statistic:                     750.6
Date:                Sun, 16 Apr 2023   Prob (F-statistic):               0.00
Time:                        17:40:14   Log-Likelihood:            -1.0790e+05
No. Observations:                5421   AIC:                         2.158e+05
Df Residuals:                    5405   BIC:                         2.159e+05
Df Model:                          15
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const            9.409e+07   2.95e+08      0.319      0.750   -4.84e+08    6.72e+08
year             -2.07e+05   1.48e+05     -1.396      0.163   -4.98e+05    8.37e+04
score            7.125e+05   1.79e+06      0.399      0.690   -2.79e+06    4.22e+06
votes             320.8014     10.577     30.329      0.000     300.065     341.537
budget              2.2170      0.047     46.891      0.000       2.124       2.310
genre_Adventure  7.957e+06   6.39e+06      1.246      0.213   -4.56e+06    2.05e+07
genre_Animation  6.094e+07   7.02e+06      8.680      0.000    4.72e+07    7.47e+07
genre_Comedy     1.197e+07   3.78e+06      3.165      0.002    4.55e+06    1.94e+07
genre_Crime     -4.018e+06      6e+06     -0.670      0.503   -1.58e+07    7.74e+06
genre_Drama      4.868e+06   4.54e+06      1.073      0.283   -4.02e+06    1.38e+07
genre_Fantasy    1.553e+07   1.69e+07      0.919      0.358   -1.76e+07    4.87e+07
genre_Mystery   -1.678e+07   2.61e+07     -0.644      0.520   -6.79e+07    3.43e+07
genre_Romance    1.701e+06   4.79e+07      0.036      0.972   -9.21e+07    9.55e+07
genre_Sci-Fi     -1.79e+07   4.37e+07     -0.410      0.682   -1.04e+08    6.78e+07
genre_Thriller   3.074e+07   4.05e+07      0.760      0.448   -4.86e+07     1.1e+08
log_gross        1.713e+07   1.03e+06     16.559      0.000    1.51e+07    1.92e+07
==============================================================================
Omnibus:                     5152.862   Durbin-Watson:                   1.872
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           618032.949
Skew:                           4.208   Prob(JB):                         0.00
Kurtosis:                      54.627   Cond. No.                     1.12e+10
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.12e+10. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
##further analysis will be conducted to ascertain the cause of the high condition number